<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.app.dept.mapper.DeptMapper">
	<select id="getDeptAll" resultType="DeptVO">
		select * from departments
	</select>
	
	<insert id="insertDept" parameterType="DeptVO">
		<selectKey keyProperty="departmentId" resultType="int" order="BEFORE">
			SELECT MAX(DEPARTMENT_ID)+1 FROM DEPARTMENTS
		</selectKey>
		INSERT INTO DEPARTMENTS (DEPARTMENT_ID, DEPARTMENT_NAME)
		VALUES(#{departmentId}, #{departmentName})
	</insert>
</mapper>
